<div class="container">
  <h1>Modifier <%= @list.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @list, url: list_path(@list), method: :patch do |form| %>
        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <h2>Tâches associées</h2>
        <div class="card" style="background-color: #22A699;">
          <div class="card-body">
            <ul style="list-style-type: none; padding-left: 0;">
              <% @list.tasks.each do |task| %>
                <div class="task-list-item">
                  <label>
                    <%= task.name %>
                  </label>
                    <div class="field">
                      <%= link_to "Supprimer", delete_task_path(task), data: {turbo_method: :delete}, class: "btn btn-danger" %>
                    </div>
                </div>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Mettre à jour #{@list.name}", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <%= simple_form_for @list, url: list_path(@list), data: { controller: "array-a" } do |f| %>
        <%= f.input :task_names,
                    as: :check_boxes,
                    input_html: {
                      class: "tag-selector",
                      "data-target" => "array-taches.input",
                      "data-action" => "array-a#toggleTask"
                    },
                    collection: Task::GENERIC_TASKS,
                    item_wrapper_class: 'tag-item' %>
        <input type="text" name="list[task_strings][]" data-target="array-a.input">
        <button type="button" data-action="click->array-a#addManualTask">Ajouter la tâche</button>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
