<div class="container" data-controller="tasks">
  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for @list, html: { id: "createListForm" }, data: { action: "submit->tasks#createList" } do |f| %>
        <%= f.input :name, label: "Nom de la liste", label_html: { class: 'center-label' }, input_html: { class: "pill-input" } %>
        <%= f.input :task_names, label: "Tâches suggérées", label_html: { class: 'center-label' }, input_html: { class: "pill-input" },
              as: :check_boxes,
              input_html: {
                class: "tag-selector",
                data: { action: "change->tasks#toggleGenericTask"}
              },
              collection: Task::GENERIC_TASKS,
              item_wrapper_class: 'tag-item' %>
        <%= f.hidden_field :task_names, multiple: true, data: { tasks_target: "taskNames"} %>
      <% end %>

      <%= form_with url: "/", method: :get, data: { action: "submit->tasks#addManualTask" } do |f| %>
        <%= f.text_field :new_task, class: "pill-input",  data: { tasks_target: "newTaskInput" } %>
        <%= f.submit "Ajouter une tâche", class: "btn btn-primary color-22A699 rounded-pill", data: { action: "click->tasks#openModal" } %>
      <% end %>

      <div class="modal fade" id="createTutoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-target="tasks.modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Créer un tutoriel</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Voulez-vous créer un tutoriel pour cette tâche ?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-action="click->tasks#createTuto">Créer un tutoriel</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
        </div>
    </div>

    <div class="col-md-4">
      <div id="task-list">
        <div class="card">
          <div class="card-header">
            Mes tâches ajoutées :
            <%= button_tag "Créer la liste", type: "submit", form: "createListForm", class: "btn btn-primary color-22A699 rounded-pill" %>
          </div>
          <div class="card-body" data-tasks-target="taskList"></div>
        </div>
      </div>
    </div>

    <div class="return-button-container">
      <%= link_to "Retour aux listes", lists_path, class: "btn btn-primary color-22A699 rounded-pill" %>
    </div>
  </div>
</div>
