<div class="container" data-controller="tasks">
  <div class="row">
    <div class="col-md-8">
      <%= simple_form_for @list, data: { action: "submit->tasks#createList" } do |f| %>
        <%= f.input :name %>
        <%= f.input :task_names,
                    as: :check_boxes,
                    input_html: {
                      class: "tag-selector",
                      data: { action: "change->tasks#toggleGenericTask"}
                    },
                    collection: Task::GENERIC_TASKS,
                    item_wrapper_class: 'tag-item' %>
        <%= f.hidden_field :task_names, multiple: true, data: { tasks_target: "taskNames"} %>
        <%= f.submit %>
      <% end %>

      <%= form_with url: "/", data: { action: "submit->tasks#addManualTask" } do |f| %>
        <%= f.text_field :new_task, data: { tasks_target: "newTaskInput" } %>
        <%= f.submit %>
      <% end %>

    </div>
    <div class="col-md-4">
      <div id="task-list">
        <div class="card">
          <div class="card-header">
            Mes tâches ajoutées :
          </div>
          <div class="card-body" data-tasks-target="taskList"></div>
        </div>
      </div>
    </div>
  </div>
</div>
