    <div class="footer">
          <%= link_to tutos_url, class: "icon-link" do %>
              <%= image_tag "schedule.png" %>
          <% end %>
          <%= link_to lists_url, class: "icon-link" do %>
              <%= image_tag "bell.png" %>
          <% end %>
          <%= link_to lists_url, class: "icon-link" do %>
              <%= image_tag "family.png" %>
          <% end %>
          <%= link_to trophees_url, class: "icon-link" do %>
              <%= image_tag "trophy.png" %>
          <% end %>
      </div>
  <div class="fixed-element">
  <a>
  <%= image_tag "calendar-circle.png", class: "icon-footer" %>
  </a>
  </div>
