<% if user_signed_in? %>
<footer>
    <div class="show">
      <div class="footer">
      <%= link_to meetings_url, class: "icon-link" do %>
        <%= image_tag "schedule.png" %>
      <% end %>
      <%= link_to tutos_url, class: "icon-link" do %>
        <%= image_tag "didacticiel.png" %>
      <% end %>
      <%= link_to lists_url, class: "icon-link" do %>
        <%= image_tag "family.png" %>
      <% end %>
      <%= link_to trophees_url, class: "icon-link" do %>
        <%= image_tag "trophy.png" %>
      <% end %>
      </div>
    </div>
      <div class="fixed-element">
    <a>
      <%= image_tag "calendar-circle.png", class: "icon-footer" %>
    </a>
      </div>
<% else %>
<% end %>
</footer>

<script>
function handleScroll() {
  const scrollHeight = document.documentElement.scrollHeight;
  const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
  const clientHeight = document.documentElement.clientHeight;

  if (scrollHeight <= clientHeight || scrollHeight - scrollTop === clientHeight) {
    const footer = document.querySelector(".footer");
    footer.classList.add("show");
  } else {
    const footer = document.querySelector(".footer");
    footer.classList.remove("show");
  }
}

document.addEventListener("turbo:load", handleScroll);

window.addEventListener("scroll", handleScroll);
window.addEventListener("resize", handleScroll);

</script>
