
<div id="container">
    <div class="left-container">
      <div class="card">
          <div class="card-content">
              <h2>Nom de la Task</h2>
              <p>Description de la carte.</p>
              <%= link_to "Mes listes", lists_path %>
          </div>
      </div>
    </div>
    <div class="right-container">
      <%= link_to calendars_url, class: "icon" do %>
          <%= image_tag "schedule.png" %>
      <% end %>
      <%= link_to calendars_url, class: "icon" do %>
        <%= image_tag "bell.png" %>
      <% end %>
      <%= link_to lists_url, class: "icon" do %>
          <%= image_tag "family.png" %>
      <% end %>
      <%= link_to trophees_url, class: "icon" do %>
        <%= image_tag "trophy.png" %>
      <% end %>
    </div>
  </div>
