<div id="container">

  <div class="trophee-container">
    <%= link_to trophees_url, class: "icon" do %>
      <%= image_tag "trophy.png" %>
    <% end %>

    <% @users.each do |user| %><% user.my_executed_tasks %><% end %>
      <p> Vous avez actuellement : <i class="points"><%= current_user.my_executed_tasks %></i> points
      <p> Vous êtes en position n° <i class="points"><%= @position %></i></p>
  </div>

  <div data-controller="toggle" class="left-container">
    <div class="card">
      <div class="card-content">
        <h2>TO DO LIST</h2>
        <% @tasks.each do |task| %>
          <div class="cards" data-task-id="<%= task.id %>">
              <div class="title-wrapper">
                <h3 class="title"><%= task.name %></h3>
              </div>
              <p><strong><%= @task %></strong></p>
                <label class="toggle">
                <input type="checkbox" class="task-toggle" data-task-id="<%= task.id %>" <%= task.done ? 'checked' : 'yes' %>>
                <span class="slider"></span>
          </div>
        <% end %>
        <%= link_to "Mes listes", lists_path, class: "mes-listes" %>
      </div>
    </div>
  </div>


    <div class="right-container">
      <%= link_to meetings_url, class: "icon" do %>
          <%= image_tag "schedule.png" %>
      <% end %>
      <%= link_to tutos_url, class: "icon" do %>
        <%= image_tag "didacticiel.png" %>
      <% end %>
      <%= link_to lists_url, class: "icon" do %>
          <%= image_tag "family.png" %>
      <% end %>
      <%= link_to trophees_url, class: "icon" do %>
        <%= image_tag "trophy.png" %>
      <% end %>
    </div>

  </div>
</div>
