<!DOCTYPE html>
<html>
  <head>
    <title>FamilyDashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="FamilyDashboard" />
    <meta name="description" content="Gagnez du temps dans vos tâches journalières de manière ludique et amusante">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.family-dashboard.me/users/sign_in" />
    <meta property="og:title" content="FamilyDashboard" />
    <meta property="og:description" content="Gagnez du temps dans vos tâches journalières de manière ludique et amusante" />
    <meta property="og:image" content="https://metatags.io/images/meta-tags.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.cdnfonts.com/css/fuzzy-bubbles" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </body>
      <%= render "shared/footer" %>
</html>
